body {
  font-family:calibri;
  background-image: url(http://www.dvd-ppt-slideshow.com/images/ppt-background/background-15.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.c-1 {
  margin: 10px 0 10px 0;
  padding-top: 1px;
  padding-bottom:5%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #D1EEEE	;
  height: auto;
  text-align:left;
}
.c-1 #sunset img {
  float:right;
  width:20%;
}

.c-2 {
  margin: 10px 0 10px 0;
  padding-top: 1px;
  padding-bottom:5%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #E0EEEE	;
  height: auto;
  text-align:left;
  /*width: 80%;*/
  height:auto;
}
.c-2 img {
  float:right;
  width: 20%;
}

.jumbotron {
  background-color: salmon;
  height: auto;
  color: white;
}

ul {
  list-style: none;     
}

.glyphicon {
  color: yellow;
}

