<br /><br /><br /><br /><br />
<div class="c-1">
    <img src="~img/sunsetme.jpg" alt="suntsetkids" />
    <h2>
        ABOUT ME!
    </h2>
    <h3>
        I had been in kitchen design field and nursing field. I worked as a kitchen designer for several years. As a kitchen designer, I enjoyed figuring out how to fit everything the client need to fit in their space. I had life changes event and made me realized I would rather do something for my family. Thus I decided to get into the nursing field. Although it's very rewarding taking care of others and very satisfying at the end of the day, I always felt that something was missing.
        <br />
        I love math and problem solving. I always have a passion for problem solving no matter if it's for space, person, etc. I feel that It's very rewarding to find the solution to the problem. I have patience for this type of thing. Therefore, I decided to once again start over, diving in and learn how to program. At Epicodus, I enjoy working in pair and rotating through out the class. As a month went by, I realized I love programing. There's always problem for me to solve. I get really excited and happy to get stuck, I see it as another piece of puzzle for me to solve. 
    </h3>
</div>
<div class="c-1">
    <img src="~img/kidsocean.jpg" alt="kidsocean" />
    <h2>PASSION</h2>
    <p>
        Family is very important to me. I have 2 boys at 14 and 8, they are very fun to hang out with and very different in their own way. I love Camping! I try to go camping as much as possible on the weekend. It is short but wellworth it for me. Camping is the time when I can truely enjoy my family, without electronic. Everyone have to look at each other and talk instead of staring at their gagit. We love to swim and the sound of the wave, we always try to find camping spot near the ocean. I look forward to off-road camping next year, it's getting harder to find spot without cellphone's reception!      
    </p>
</div>