@model IEnumerable<VichitraPortfolio.Models.Repo>

<br /><br /><br /><br /><br />

<div class="jumbotron">
    <h2>Hi, My name is Vichitra but most people know me as "Note" </h2>
    <br />
    <h3>Welcome to my Portfolio page</h3>
    
    
</div>

