@model IEnumerable<VichitraPortfolio.Models.Repo>

<h2>Hi, I'm Vichitra or my friends and families also call me Note </h2>
<hr />

<h3>Welcome to my Portfolio page</h3>

@Html.ActionLink("Please Checkout My Projects", "GetRepos")